::ng-deep .mat-mdc-table {
  background: transparent;
}

::ng-deep .mat-mdc-header-cell {
  background-color: #f9fafb;
  font-weight: 600;
  color: #374151;
}

::ng-deep .mat-mdc-chip {
  font-size: 11px;
  font-weight: 600;
  height: 24px;
  min-height: 24px;
}

::ng-deep .mat-mdc-chip.mat-success {
  background-color: #10B981;
  color: white;
}

::ng-deep .mat-mdc-chip.mat-warn {
  background-color: #F59E0B;
  color: white;
}

::ng-deep .mat-mdc-chip.mat-error {
  background-color: #EF4444;
  color: white;
}

::ng-deep .hide-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
