::ng-deep .mat-mdc-table {
  background: transparent;
}

::ng-deep .mat-mdc-header-cell {
  background-color: #f9fafb;
  font-weight: 600;
  color: #374151;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 12px;
}

::ng-deep .hide-subscript .mat-mdc-form-field-subscript-wrapper,
::ng-deep .no-label-field .mat-mdc-form-field-subscript-wrapper,
::ng-deep .no-border-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

::ng-deep .no-border-field .mat-mdc-text-field-wrapper {
  padding: 0 !important;
  background: transparent !important;
}

::ng-deep .no-border-field .mdc-line-ripple {
  display: none;
}

::ng-deep .no-border-field .mat-mdc-form-field-flex {
  background: transparent !important;
}

::ng-deep .no-border-field .mat-mdc-form-field-focus-overlay {
  display: none;
}

::ng-deep .no-border-field input {
  text-align: center;
}
